 // Typografhy styles

@import 'variables-bamboo-light.less';
// Headings
// ------------------------
h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

.btn {
	background-image: none;
	text-transform: uppercase;
	font-family: @altFontFamily;
	border-radius: 0px;
	border: 0px;
	font-size: @baseFontSize + 4;
	color: @textColor;
	text-shadow: none;
	padding: 10px 20px;
	border-bottom: 4px solid @color_one;
	&:hover {
		color: @textColor;
	}

	&.btn-large {
		font-size: @baseFontSize + 8;
	}

	&.btn-small {
		font-size: @baseFontSize + 2;
	}

	&.btn-mini {
		font-size: @baseFontSize;
	}

	&.btn-inverse {
		color: @white;
		border-bottom: 4px solid lighten(@grayDarker, 25%);
		&:hover {
			color: @white;
		}
	}

	&.btn-info {
		border-bottom: 4px solid darken(@btnInfoBackground, 25%);
	}

	&.btn-success {
		border-bottom: 4px solid darken(@btnSuccessBackground, 25%);
	}

	&.btn-warning {
		border-bottom: 4px solid darken(@btnWarningBackground, 25%);
	}

	&.btn-danger {
		border-bottom: 4px solid darken(@btnDangerBackground, 25%);
	}

	&.btn-link {
		border-bottom: none;
	}
}

blockquote {
	padding: 20px 25px;
	background: @color_three;
	border-left: none;
	p {
		font-size: @fontSizeLarge + 4;
		color: @white;
		text-align: center;
	}

	small {
		color: white;
		text-align: center;
		font-size: @baseFontSize - 2;
		margin-top: 15px;
		&:before {
			content: none;
		}
	}

	&.pull-right {
		small {
			&:after {
				content: none;
			}
		}
	}
}

form {
	.input-append , .input-prepend {
		input[type="text"] {
			height: 34px;
		}

		> .add-on {
			padding: 11px 11px;
		}
	}
}

.table {
	td {
		color: @grayLighter;
	}

	&.table-striped tbody > tr:nth-child(odd) {
		> td , > th {
			background-color: @grayLighter;
		}
	}

	&.table-hover tbody tr:hover {
		> td , > th {
			background-color: @tableBackgroundHover;
			color: @textColor;
		}
	}
}

.table {
	thead {
		th {
			background-color: @color_two;
			color: @white;
			font-family: @altFontFamily;
			font-size: @baseFontSize;
			a {
				color: @white;
			}
		}
	}

	th {
		font-weight: normal;
	}

	td {
		color: @grayDark + #111;
	}

	th , td {
		padding-bottom: 13px;
		padding-top: 13px;
		text-align: center;
	}
}

.table-condensed {
	th , td {
		padding-bottom: 8px;
		padding-top: 8px;
	}
}

.table-bordered {
	.border-radius (0);
}

.table-bordered caption + thead tr:first-child th:first-child , .table-bordered caption + tbody tr:first-child td:first-child , .table-bordered colgroup + thead tr:first-child th:first-child , .table-bordered colgroup + tbody tr:first-child td:first-child {
	.border-radius (0);
}

.table-bordered caption + thead tr:first-child th:last-child , .table-bordered caption + tbody tr:first-child td:last-child , .table-bordered colgroup + thead tr:first-child th:last-child , .table-bordered colgroup + tbody tr:first-child td:last-child {
	.border-radius (0);
}

.table-bordered thead:first-child tr:first-child > th:first-child , .table-bordered tbody:first-child tr:first-child > td:first-child , .table-bordered tbody:first-child tr:first-child > th:first-child {
	.border-radius (0);
}

.table-bordered thead:first-child tr:first-child > th:last-child , .table-bordered tbody:first-child tr:first-child > td:last-child , .table-bordered tbody:first-child tr:first-child > th:last-child {
	.border-radius (0);
}

.table-bordered thead:last-child tr:last-child > th:first-child , .table-bordered tbody:last-child tr:last-child > td:first-child , .table-bordered tbody:last-child tr:last-child > th:first-child , .table-bordered tfoot:last-child tr:last-child > td:first-child , .table-bordered tfoot:last-child tr:last-child > th:first-child {
	.border-radius (0);
}

.table-bordered thead:last-child tr:last-child > th:last-child , .table-bordered tbody:last-child tr:last-child > td:last-child , .table-bordered tbody:last-child tr:last-child > th:last-child , .table-bordered tfoot:last-child tr:last-child > td:last-child , .table-bordered tfoot:last-child tr:last-child > th:last-child {
	.border-radius (0);
}

#sidebar1 input[type=submit] , #sidebar2 input[type=submit] ,  {
	height: auto;
}

.page-header {
	margin-top: 30px;
}

div {
	.prettyprint {
		.border-radius (0);
	}

	.bs-docs-example {
		border: 1px solid @grayLighter;
		border-radius: 0;
		padding: 60px 30px 40px;
		&:after {
			background-color: @grayLighter;
			border-radius: 0;
			border: 0;
			font-size: @baseFontSize - 2;
			font-family: @altFontFamily;
			color: @textColor;
			content: "EXAMPLE";
			height: 20px;
			left: 10px;
			top: 10px;
		}
	}

	code {
		background-color: transparent;
		color: @linkColor;
		border: 0;
		font-size: @baseFontSize -2;
		font-family: @sansFontFamily;
	}
}

body {
	.prettyprint {
		background-color: @codeBackgroundColor;
		border: 0;
	}

	.kwd , .prettyprint .tag {
	}

	.typ , .atn , .dec , .var , .pln , .str , .atv {
	}

	.prettyprint.linenums {
		box-shadow: inset 40px 0 0 @color_two, inset 41px 0 0 @color_two;
	}

	ol.linenums li {
		text-shadow: none;
		color: @textColor;
	}
}

.nav.nav-tabs + .current {
	background-color: @white;
	padding: 50px 50px 50px 100px;
}

.nav.nav-tabs {
	margin-bottom: 0px;
}

.nav-tabs , .nav-pills {
	> li {
		> a {
			border-radius: 0;
		}
	}
}

.tabs {
	h3 , span , li {
		a {
			background: @tabBackground;
			border-radius: 0px;
			color: @white;
			text-transform: uppercase;
			padding: 11px 15px;
			&:hover {
				text-decoration: none;
				background: @linkColor;
			}
		}
	}
}

.tabs-right > .nav-tabs {
	margin-left: 0;
	float: none;
}

.nav-tabs {
	border-bottom: 1px solid @color_one;
	.open {
		span {
			position: relative;
			top: 1px;
		}

		h3 a , span a {
			color: @linkColor ! important;
			border-top: 2px solid @white;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid @white;
			text-decoration: none;
			&:hover {
				background: @white;
			}
		}
	}

	.dropdown-menu {
		border-radius: 0;
	}
}

dl.tabs.nav h3 , dl.tabs.nav p {
	margin-right: 1px;
	font-size: @baseFontSize;
	line-height: 42px;
}

#menu {
	margin-bottom: 0px;
}

.label {
	font-family: @altFontFamily;
	text-transform: uppercase;
	border-radius: 0;
	padding: 5px 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	&.label-info {
		background-color: @color_three;
	}
}

.navbar-search {
	> .search-query {
		margin: 5px 0px 5px 0px;
	}
}

.navbar-inverse .navbar-inner {
	background-image: none;
	border-radius: 0;
	border: 0;
}

.nav {
	li {
		> a {
			&:focus , &:hover {
				background-color: none;
			}
		}
	}
}

//Colappse Menu
.toolbar-collapse-btn {
	float: right;
	margin-top: 10px;
	cursor: pointer;
	> .legend-menu {
		float: left;
		margin-top: 5px;
		margin-right: 5px;
		font-size: @baseFontSize - 2;
		color: @linkTopColor;
		font-family: @altFontFamily;
		font-weight: 400;
	}

	.menu-icons-container {
		float: left;
		> .icon-bar {
			display: block;
			height: 1px;
			width: 23px;
			background-color: @menuIconLines;
			margin-top: 5px;
		}
	}
}

.navbar {
	.nav {
		> li {
			padding: 5px 15px;
			margin-right: 50px;
			&.dropdown {
				.dropdown-menu {
					li {
						a {
							&:hover , &:focus {
								.caret {
									border-top-color: transparent;
									border-bottom-color: transparent;
								}
							}

							.caret {
							}
						}

						.sub-menu {
							background-color: @color_four;
							margin-left: 0px;
							box-shadow: none;
							li {
								border-bottom: 1px solid @color_three;
								&:last-child {
									border-bottom: none;
								}

								a {
									text-transform: none;
									&:hover , &:focus {
										background-color: @color_three;
									}
								}
							}

							&:before , &:after {
								content: none;
							}
						}
					}
				}
			}

			> a {
				color: @linkTopColor;
				padding: 2px 0;
				text-transform: uppercase;
			}

			.caret {
				border-bottom-color: @linkTopColor;
				border-top-color: @linkTopColor;
				margin-top: 5px;
				margin-left: 5px;
			}

			&:focus , &:hover {
				background: @color_three;
				> a {
					position: relative;
					&:before , &:after {
						content: '';
						height: 0;
						left: 0;
						position: absolute;
						width: 100%;
					}

					&:before {
						top: 0;
					}

					&:after {
						bottom: 0;
					}
				}
			}

			&.active {
				background: @color_three;
				> a {
					position: relative;
					box-shadow: none;
					&:before , &:after {
						content: '';
						height: 0;
						left: 0;
						position: absolute;
						width: 100%;
					}

					&:before {
						top: 0;
					}

					&:after {
						bottom: 0;
					}

					&:hover , &:focus {
						background: @color_three;
						box-shadow: none;
					}
				}
			}

			&.divider-vertical {
				border-left-color: @grayLight;
				margin-top: 0;
				padding-bottom: 3px;
			}
		}
	}
}

.navbar .nav > li > .dropdown-menu {
	border-radius: 0px;
	box-shadow: none;
	padding: 0px;
	&:before , &:after {
		content: none;
	}

	> li {
		border-top: 1px solid @color_four;
		> a {
			padding: 5px 15px;
			color: @linkTopColor;
			text-transform: uppercase;
			.caret {
				border-top-color: transparent;
				border-left-color: @dropdownLinkColor;
			}

			&:hover , &:focus {
				background: @color_four;
				.caret {
					border-left-color: @dropdownLinkColorHover;
				}
			}
		}

		&.active {
			background: @color_four;
			> a {
				.caret {
					border-left-color: @dropdownLinkColorActive;
				}

				&:hover , &:focus {
					.caret {
						border-left-color: @dropdownLinkColorActive;
					}
				}
			}
		}
	}
}

.well {
	box-shadow: none;
	padding: 20px 0px;
	.nav-pills {
	}
}

.module {
	.nav {
		padding-left: 0px;
		padding-right: 0px;
		li {
			padding-top: 5px;
			padding-bottom: 5px;
			border-bottom: 1px solid @boderModuleStyleColor;
			> a {
				font-size: @baseFontSize + 4;
				font-weight: bold;
				margin-left: 0px;
				margin-right: 0px;
				&:hover , &:focus {
					background: none;
					color: darken(@linkColor, 15%);
				}
				.caret {
					display: none;
				}
			}

			&.dropdown {
				.dropdown-menu {
					position: relative;
					display: block;
					background-color: transparent;
					float: none;
					border: 0;
					box-shadow: none;
					border-radius: 0;
					min-width: 0;
					padding: 0;
					ul {
						margin: 0 5px;
					}

					li {
						> a {
							white-space: normal;
							color: @linkColor;
							padding-left: 15px;
							&:hover , &:focus {
								color: darken(@linkColor, 15%);
							}
						}
					}

					.sub-menu {
						box-shadow: none;
						margin: 0 10px;
						position: relative;
						visibility: visible;
						margin-top: 0;
						left: 0;
						&:before , &:after {
							display: none;
						}
					}

					&.parent {
						> a {
							&:after {
								content: '\f107';
								float: right;
								font-family: FontAwesome;
								font-size: @baseFontSize;
							}
						}
					}

					li {
						&:last-child {
							border-bottom: none;
							padding-bottom: 0px;
						}
					}
				}

				&.parent {
					> a {
						&:after {
							content: '\f107';
							float: right;
							font-family: FontAwesome;
							font-size: @baseFontSize;
						}
					}
				}
			}

			&.current {
				> a {
					color: @headingTabColor;
					&:after {
						content: '\f054';
						float: right;
						font-family: FontAwesome;
						font-size: @baseFontSize - 6;
					}
				}
			}
		}

		&.nav-stacked , &.nav-pills , &.nav-list {
			li {
				&.dropdown {
					.dropdown-menu {
						li {
							> a {
								text-transform: none;
								color: @color_one;
								font-size: @baseFontSize + 4;
								font-weight: bold;
								&:hover , &:focus {
									color: darken(@linkColor, 15%);
								}

								&:after {
									content: ' ';
								}
							}

							&.active {
								> a {
									background: none;
									color: @headingTabColor;
									&:hover , &:focus {
										color: @dropdownLinkColorHover;
									}
								}
							}
						}

						&.parent {
							> a {
								&:after {
									content: '\f107';
									float: right;
									font-family: FontAwesome;
									font-size: @baseFontSize;
								}
							}
						}
					}

					&.parent {
						> a {
							&:after {
								content: '\f107';
								float: right;
								font-family: FontAwesome;
								font-size: @baseFontSize;
							}
						}
					}
				}

				&.active {
					> a {
						background-color: transparent;
						color: @headingTabColor;
						&:hover , &:focus {
							color: darken(@linkColor, 15%);
							&:after {
								content: '\f054';
								float: right;
								font-family: FontAwesome;
								font-size: @baseFontSize - 6;
							}
						}

						&:hover , &:focus {
							background-color: none;
							color: darken(@linkColor, 15%);
						}

						&:after {
							content: '\f054';
							float: right;
							font-family: FontAwesome;
							font-size: @baseFontSize - 6;
						}
					}
				}
			}
		}
	}

	.tabbable {
		li {
			&.active {
				> a {
					background-color: transparent;
					color: darken(@linkColor, 15%);
					border: none;
					border-radius: 0px;
					&:after {
						content: '\f054';
						float: right;
						font-family: FontAwesome;
						font-size: @baseFontSize - 6;
					}
				}
			}
		}
	}
}

.btn-group &.btn {
	&:first-child {
		border-radius: 0;
	}

	&:last-child {
		border-radius: 0;
	}

	&.dropdown-toggle {
		border-radius: 0;
	}
}

.top-properties {
	position: relative;
	margin-bottom: 0px;
}

#header {
	.top-properties ();
	background-image: url(../images/top-logo-object.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	&.techieSlideshow {
		.box-sizing (border-box);
		height: 100%;
		margin-bottom: 0;
		background-position: bottom left;
	}
}

.slide-arrows-container {
	position: relative;
}

#nextslide {
	background-image: url(../images/slideshow-nav-next.png);
	position: absolute;
	z-index: 1;
	width: 63px;
	height: 168px;
	top: 180px;
	right: -3px;
	cursor: pointer;
}

#prevslide {
	background-image: url(../images/slideshow-nav-prev.png);
	position: absolute;
	z-index: 1;
	width: 63px;
	height: 168px;
	top: 180px;
	left: -3px;
	cursor: pointer;
}

.techieSlideshowContainer {
	background-color: @bodyBackground;
	height: 100%;
}

#supersized-loader {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 0;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	text-indent: -999em;
}

#supersized {
	display: block;
	height: 100%;
	left: 0;
	top: 0;
	margin: 0;
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: -999;
}

#supersized img {
	width: auto;
	height: auto;
	position: relative;
	display: none;
	outline: none;
	border: none;
	left: 0;
	max-width: inherit;
}

#supersized.speed img {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -moz-crisp-edges;
}

#supersized.quality img {
	-ms-interpolation-mode: bicubic;
	image-rendering: optimizeQuality;
}

#supersized li {
	display: block;
	height: 97%;
	left: 0;
	list-style: none;
	overflow: hidden;
	position: fixed;
	top: 10px;
	width: 100%;
	z-index: -30;
}

#supersized a {
	border-radius: 15px;
	display: block;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

#supersized li.prevslide {
	z-index: -20;
}

#supersized li.activeslide {
	z-index: -10;
}

#supersized li.image-loading {
	background: #111;
	width: 100%;
	height: 100%;
}

#supersized li.image-loading img {
	visibility: hidden;
}

#supersized li.prevslide img , #supersized li.activeslide img {
	display: block;
}

#breadcrumbs {
	.top-properties ();
}

.bg-wrapp {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
	.bg-wrapp-inner {
		height: 100%;
		overflow: hidden;
		position: relative;
		width: 100%;
		#bg-header {
			position: absolute;
			display: block;
			left: 0;
			max-height: inherit;
			max-width: inherit;
			top: 0;
			width: 100%;
		}
	}
}

.header-inner {
	border-bottom: 1px solid #CECEBF;
	margin-top: 20px;
	padding-bottom: 15px;
	position: relative;
	z-index: 1;
	.logo , [class *= "span"] {
		margin-left: 0 ! important;
	}
}

#current-menu-item {
	position: relative;
	z-index: 1;
	padding: 80px 0px 80px 100px;
	h1 {
		font-family: @sansFontFamily;
		color: @white;
		background: @headerTitleBackground;
		padding: 10px 20px;
		display: table;
	}

	p {
		font-size: @baseFontSize + 6;
		color: @white;
		margin-top: 30px;
		line-height: 140%;
	}
}

#current-slide-item {
	position: relative;
	padding: 150px 0px 250px 100px;
	h1 {
		font-family: @sansFontFamily;
		color: @white;
		background: @headerTitleBackground;
		padding: 10px 20px;
		display: table;
		width: 55%;
	}

	p {
		font-size: @baseFontSize + 6;
		color: @white;
		margin-top: 30px;
		line-height: 140%;
		width: 55%;
	}
}

.bg-wrapp-bottom {
}

#top-header {
	background: @hedaer-top;
	.container {
		.row {
			position: relative;
			h4 {
				position: relative;
				font-size: @baseFontSize;
				color: @activeTextColor;
				img {
					margin: 0px 5px;
				}
			}
		}
	}
}

#grid-top {
	margin-top: 30px;
	margin-bottom: 30px;
}

#grid-top2 {
	margin-bottom: 60px;
}

#content-wrapper {
	background-image: url(../images/content-bg.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-color: @content-background;
	width: 100%;
	margin-bottom: -1px;
	padding-top: 30px;
	padding-bottom: 30px;
	#content {
		.row {
			.module_ms3 {
				h3 {
					color: @white;
				}
			}
		}
	}
}

#content2 {
	margin-top: 60px;
}

#grid-bottom {
	margin-top: 30px;
	margin-bottom: 30px;
}

#grid-bottom2 {
	background-image: url(../images/botom-object.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-color: @color_three;
	margin-bottom: 0px;
	padding: 50px 0px;
	width: 100%;
}

.jssocialicons-before {
	width: 100%;
	float: left;
	text-align: center;
	color: @white;
	font-size: @baseFontSize + 8;
	font-family: @altFontFamily;
	font-weight: 400;
	margin-bottom: 40px;
	&:after {
		.heading-after ();
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.jssocialicons-horizontal {
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}

.wrapp-content {
	margin-top: 50px;
	margin-bottom: 50px;
}

#grid-bottom2 .module {
	margin-bottom: 0px;
	color: @white;
	h3 {
		margin-top: 0px;
		width: 100%;
		color: @white;
		text-shadow: none;
		&:after {
			.heading-after ();
		}
	}

	.custom {
	}
}

.module {
	margin-bottom: 0px;
	h3 {
		width: 100%;
		color: @headingTabColor;
		text-shadow: none;
		&:after {
			.heading-after ();
		}
	}

	.custom {
	}
}

.module_featured {
	position: relative;
	padding: 15px 0px;
	h3 {
		font-size: @baseFontSize;
		width: auto;
		float: left;
		position: relative;
		top: 8px;
		text-transform: uppercase;
	}

	.module-inner {
		position: relative;
		left: 15px;
	}

	.span3 {
		margin-left: 0px;
	}
}

.module_ms1 , .moduletable_ms1 , .moduletext_ms1 {
	text-align: center;
	.box-sizing (border-box);
	padding: 15px;
	h3 {
		color: @color_one;
	}

	.module-inner {
		padding: 15px;
		color: @white;
		font-size: @baseFontSize;
		font-weight: normal;
		background: @color_three;
		> span {
			font-size: @baseFontSize - 2;
		}

		> a {
			margin-top: 15px;
			text-transform: uppercase;
			font-size: @baseFontSize - 2;
		}
	}
}

.module_ms2 , .moduletable_ms2 , .moduletext_ms2 {
	position: relative;
	text-align: center;
	h3 {
		color: @color_one;
		padding-bottom: 5px;
		font-size: @baseFontSize + 4;
	}

	.module-inner , .custom_ms2 {
		margin-top: 20px;
		padding: 0px 5px;
		> a {
			margin-top: 15px;
			text-transform: uppercase;
			font-size: @baseFontSize - 2;
			font-weight: bold;
		}
	}
}

.module_ms4 , .moduletable_ms4 , .moduletext_ms4 {
	background-color: white;
	padding-top: 15px;
	position: relative;
	text-align: center;
	.custom_ms4 {
		padding: 10px 15px;
	}

	h3 {
		text-transform: uppercase;
		border-bottom: 1px solid @boderModuleStyleColor;
		color: @color_one;
		padding-bottom: 5px;
		font-size: @baseFontSize + 4;
	}

	.module-inner {
		margin-top: 20px;
		padding: 0px 10px;
		h5 {
			margin-top: 40px;
			color: @doubleBackgroundColor;
		}

		> a {
			margin-top: 15px;
			text-transform: uppercase;
			font-size: @baseFontSize - 2;
		}
	}

	&.double {
		.module-inner {
			padding: 0;
			.double h5 {
				&:first-child {
					font-size: @baseFontSize - 2;
					color: @color_four;
					margin-top: 0;
					margin-bottom: 15px;
				}
			}

			h5 {
				margin-top: 30px;
			}
		}

		.custom_ms4 {
			padding: 10px 15px;
		}

		.wrightmodule-imgfeatured {
			position: relative;
			width: 200%;
			z-index: 3;
			img {
				max-width: 100%;
			}
		}

		.wrightmodule-subtitle {
			position: absolute;
			top: 0;
			margin-top: -27px;
			width: 200%;
			text-align: center;
			background-color: @doubleBackgroundColor;
			margin-left: -10px;
			padding-top: 5px;
			padding-bottom: 5px;
			z-index: 1;
			color: @white;
			text-transform: uppercase;
			font-size: @baseFontSize - 2;
		}

		.wrightmodule-content {
			padding-left: 10px;
			padding-right: 10px;
			> h3 {
				position: relative;
				width: 205%;
				z-index: 3;
			}
		}

		+ .module_ms4 , + .moduletable_ms4 , + .moduletext_ms4 {
			margin-left: 0;
			position: relative;
			h5 {
				&:first-child {
					font-size: @baseFontSize - 2;
					color: @color_four;
					margin-top: 0;
					margin-bottom: 15px;
				}
			}

			h5 {
				margin-top: 30px;
			}

			.wrightmodule-imgfeatured {
				position: relative;
				z-index: -1;
			}

			.wrightmodule-content {
				h3 {
					position: relative;
					z-index: -1;
				}
			}

			.wrightmodule-content {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
}

.module_ms3 , .moduletable_ms3 , .moduletext_ms3 {
	h3 {
		width: 100%;
		float: left;
		text-align: center;
		color: @headingTabColor;
		font-size: @baseFontSize + 14;
		&:after {
			.heading-after ();
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.module-inner {
		text-align: center;
	}
}

[class ^= "module"] {
	&.mounted {
		.module-inner {
			position: absolute;
			bottom: 0;
			z-index: 1;
		}
	}
}

.heading-after {
	content: '';
	display: block;
	height: 2px;
	width: 46px;
	background: @color_one;
	margin-top: 10px;
}

#breadcrumbs {
	background: @white;
	margin-bottom: 0px;
	color: @activeTextColor;
	font-size: @baseFontSize;
	.breadcrumb {
		margin-bottom: 0px;
		border-radius: 0px;
		background: transparent;
		padding: 15px 15px 15px 0px;
		> li {
			text-shadow: none;
			.hasTip {
				display: none;
			}

			.divider {
				color: @activeTextColor;
				&.icon-map-marker {
					padding-left: 0;
					&:before {
						content: none;
					}
				}

				[class ^= "icon-"] , [class *= " icon-"] {
					padding-right: 5px;
					&:before {
						content: '\f054';
						font-size: 10px;
					}
				}
			}
		}

		> .active {
		}
	}
}

#bottom-menu {
	margin-bottom: 0;
	margin-top: 5px;
	.navbar {
		margin-bottom: 0;
	}
}

#main-content {
	margin-bottom: 0;
}

#footer {
	background-image: none;
	background-color: @color_four;
	color: white;
	line-height: 15px;
	filter: none;
	.navbar-inner {
		box-shadow: none;
	}

	.module {
		margin-top: 20px;
		font-size: @baseFontSize - 2;
		color: @white;
		a {
			color: @white;
			&:hover {
				color: @white;
				text-decoration: underline;
			}
		}
	}
}

