@media (min-width: 1200px) {
	#header , #breadcrumbs {
		position: relative;
		margin-bottom: 0px;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	#header , #breadcrumbs {
		position: relative;
		margin-bottom: 0px;
	}

	.breadcrumbs {
		padding-left: 20px;
	}

	#current-menu-item {
		padding-left: 10px;
		h1 {
		}
	}

	.nav {
		+ .current {
			background-color: @white;
			padding: 20px;
		}
	}
}

@media (max-width: 767px) {
	#header {
		position: relative;
		margin-bottom: 0px;
		margin-right: -20px;
		margin-left: -20px;
		.header-inner {
			margin-left: 20px;
			margin-right: 20px;
		}

		.top-object {
			background-image: none;
		}
	}

	#breadcrumbs {
		position: relative;
		margin-bottom: 0px;
		margin-right: -20px;
		margin-left: -20px;
		.header-inner {
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	#top-header {
		position: relative;
		margin-bottom: 0px;
		margin-right: -20px;
		margin-left: -20px;
		.header-inner {
			margin-left: 20px;
			margin-right: 20px;
		}

		.container , .container-fluid {
			.row , .row-fluid {
				[class ^= "module"] {
					text-align: center;
					margin-top: 30px;
					img {
						margin-top: 30px;
						margin-left: auto;
						margin-right: auto;
						display: block;
					}
				}
			}
		}
	}

	[class ^= "module"] {
		&.mounted {
			position: relative;
			.module-inner {
				position: relative;
				bottom: auto;
				z-index: 1;
			}
		}
	}

	.module_ms1 , .moduletable_ms1 , .moduletext_ms1 {
		padding: 0px;
	}

	.module_ms4 , .moduletable_ms4 , .moduletext_ms4 {
		&.double {
			margin-top: 50px;
			.wrightmodule-imgfeatured {
				width: 100%;
				img {
				}
			}

			.wrightmodule-subtitle {
				width: 100%;
			}

			.wrightmodule-content {
				> h3 {
					width: 100%;
				}
			}

			+ .module_ms4 , + .moduletable_ms4 , + .moduletext_ms4 {
				padding: 0px 0px 15px 0px;
				margin-bottom: 25px;
				.module-inner {
					margin-top: 0px;
				}

				.wrightmodule-imgfeatured {
					width: 100%;
					display: none;
				}

				.wrightmodule-content {
					h3 {
						display: none;
					}
				}

				.wrightmodule-content {
				}
			}
		}
	}

	#logo {
		&[class *= "span"] {
			float: left;
			width: auto;
		}
	}

	.breadcrumbs {
		padding-left: 30px;
	}

	#content-wrapper {
		background-image: none;
		width: auto;
		margin-left: -20px;
		margin-right: -20px;
		[id ^= "content"] {
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	.nav {
		+ .current {
			background-color: @white;
			padding: 20px;
		}
	}

	#current-slide-item {
		padding: 30px 0px;
		position: relative;
		h1 {
			font-family: @sansFontFamily;
			color: @white;
			background: @headerTitleBackground;
			padding: 10px 20px;
			display: table;
			width: 65%;
			font-size: @baseFontSize + 9;
		}

		p {
			font-size: @baseFontSize;
			color: @white;
			margin-top: 30px;
			line-height: 140%;
			width: 75%;
		}
	}

	#nextslide , #prevslide {
		top: 60px;
	}

	#lateral-menu {
		width: 230px;
		&.show-lateral-menu {
		}
	}

	.toolbar-collapse-btn {
		
		> .legend-menu {
			display: none;
		}
	}
}

