@media (min-width: 1200px) {
	#header , #breadcrumbs {
		position: relative;
		margin-bottom: 0px;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	#header , #breadcrumbs {
		position: relative;
		margin-bottom: 0px;
	}

	.breadcrumbs {
		padding-left: 20px;
	}

	#current-menu-item {
		padding-left: 10px;
		h1 {
		}
	}
}

@media (max-width: 767px) {
	#header , #breadcrumbs {
		position: relative;
		margin-bottom: 0px;
		margin-right: -20px;
		margin-left: -20px;
		.header-inner {
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	#top-header {
		position: relative;
		margin-bottom: 0px;
		margin-right: -20px;
		margin-left: -20px;
		.header-inner {
			margin-left: 20px;
			margin-right: 20px;
		}

		.container {
			.row {
				h4 {
					text-align: center;
					margin: 30px 0px;
					img {
						margin-top: 20px;
						margin-left: auto;
						margin-right: auto;
						display: block;
					}
				}
			}
		}
	}

	[class ^= "module"] {
		&.mounted {
			position: relative;
			.module-inner {
				position: relative;
				bottom: auto;
				z-index: 1;
			}
		}
	}

	.module_ms1 , .moduletable_ms1 , .moduletext_ms1 {
		padding: 0px;
	}

	.module_ms4 , .moduletable_ms4 , .moduletext_ms4 {
		h3 {
		}

		.module-inner {
			> a {
			}
		}

		&.double {
			margin-top: 50px;		
			.wrightmodule-imgfeatured {
				width: 100%;
				img {
				}
			}

			.wrightmodule-subtitle {
				width: 100%;
			}

			.wrightmodule-content {
				> h3 {
					width: 100%;
				}
			}

			+ .module_ms4 , + .moduletable_ms4 , + .moduletext_ms4 {
				margin-bottom: 25px;
				.module-inner {
					margin-top: 0px;
				}

				.wrightmodule-imgfeatured {
					width: 100%;
					display: none;
				}

				.wrightmodule-content {
					h3 {
						display: none;
					}
				}

				.wrightmodule-content {
				}
			}
		}
	}

	#logo {
		&[class *= "span"] {
			float: left;
			width: auto;
		}
	}

	#current-menu-item {
		margin-right: 20px;
	}

	.breadcrumbs {
		padding-left: 30px;
	}

	#current-menu-item {
		padding-left: 20px;
		h1 {
		}
	}

	#content-wrapper {
		background-image: none;
		width: auto;
		margin-left: -20px;
		margin-right: -20px;
		[id ^= "content"] {
			margin-left: 20px;
			margin-right: 20px;
		}
	}
}

