// Typografhy styles

@import "variables-generic.less";

.btn {
  background-image: none;
  text-transform: uppercase;
  border-radius: 0px;
  border: 0px;
  font-size: @baseFontSize + 6;
  color: @textColor;
  text-shadow: none;
  padding: 10px 20px;
  border-bottom: 4px solid @color_one;
  &:hover {
  	color: @textColor;
  }
}

.btn-inverse {
  	color: @white;
  	&:hover {
  		color: @white;
  	}
}

.btn-link {
	border-bottom: none; 
}

//Table classes

.table{
    td{
      color: @grayLighter;
    }
    &.table-striped tbody>tr:nth-child(odd){
      >td,
      >th{
        background-color: @grayLighter;
      }
    }
    &.table-hover tbody tr:hover{
      >td,
      >th{
        background-color: @tableBackgroundHover;
        color: @textColor;
      }
    }
  }


.table{
  thead{
    th{
      background-color: @color_two;
      color: @white;
      font-family: @altFontFamily;
      font-size: @baseFontSize + 2;
      a{
        color: @white;
      }
    }
  }
  th{
    font-weight: normal;
  }
  td{
    color: @grayDark + #111;
  }
  th , td{
    padding-bottom: 13px;
    padding-top: 13px;
    text-align: center;
  }
}
.table-condensed {
  th, td{
    padding-bottom: 8px;
    padding-top: 8px;
  }
}

.table-bordered{
  .border-radius(0);
}
.table-bordered caption+thead tr:first-child th:first-child, .table-bordered caption+tbody tr:first-child td:first-child, .table-bordered colgroup+thead tr:first-child th:first-child, .table-bordered colgroup+tbody tr:first-child td:first-child{
  .border-radius(0);
}
.table-bordered caption+thead tr:first-child th:last-child, .table-bordered caption+tbody tr:first-child td:last-child, .table-bordered colgroup+thead tr:first-child th:last-child, .table-bordered colgroup+tbody tr:first-child td:last-child{
  .border-radius(0);
}
.table-bordered thead:first-child tr:first-child>th:first-child, .table-bordered tbody:first-child tr:first-child>td:first-child, .table-bordered tbody:first-child tr:first-child>th:first-child{
  .border-radius(0);
}
.table-bordered thead:first-child tr:first-child>th:last-child, .table-bordered tbody:first-child tr:first-child>td:last-child, .table-bordered tbody:first-child tr:first-child>th:last-child{
  .border-radius(0);
}
.table-bordered thead:last-child tr:last-child>th:first-child, .table-bordered tbody:last-child tr:last-child>td:first-child, .table-bordered tbody:last-child tr:last-child>th:first-child, .table-bordered tfoot:last-child tr:last-child>td:first-child, .table-bordered tfoot:last-child tr:last-child>th:first-child{
  .border-radius(0);
}
.table-bordered thead:last-child tr:last-child>th:last-child, .table-bordered tbody:last-child tr:last-child>td:last-child, .table-bordered tbody:last-child tr:last-child>th:last-child, .table-bordered tfoot:last-child tr:last-child>td:last-child, .table-bordered tfoot:last-child tr:last-child>th:last-child{
  .border-radius(0);
}

// Page Heading

.page-header {
  margin-top: 30px;
}

// Docs

div{
  .prettyprint{
    .border-radius(0);
  }
  .bs-docs-example{
    border: 1px solid @grayLighter;
    border-radius: 0;
    padding: 60px 30px 40px;

    &:after{
      background-color: @grayLighter;
      border-radius: 0;
      border: 0;
      font-size: @baseFontSize;
      font-family: @altFontFamily;
      color: @textColor;
      content : "EXAMPLE";
      height: 20px;
      left: 10px;
      top: 10px;
    }
  }
  code{
    background-color: transparent;
    color : @linkColor;
    border: 0;
    font-size: @baseFontSize;
    font-family: @sansFontFamily;
  }
}

// Top tabs

.nav.nav-tabs+.current {
  background-color: @white;
  padding: 50px 50px 50px 100px;
}

.nav.nav-tabs {
  margin-bottom: 0px;
}

.tabs { 
     h3 {
       a {
         background: @tabBackground;
         border-radius: 0px;
         color: @white;
         text-transform: uppercase;
         padding: 10px 15px;
       &:hover {
         text-decoration: none;
         background: @linkColor;
       }
       }
     }
 }
 
.nav-tabs { 
    border-bottom: 1px solid @color_one;
    .open{
      span {
        position: relative;
        top: 1px;
      }
    h3 
      a{
      color : @linkColor !important;
      border-top: 2px solid @white;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid @white;
      text-decoration: none;
      &:hover {
        background: @white;
      }
     }
}
}

dl.tabs.nav h3 {
  margin-right: 1px;
  font-size: @baseFontSize + 2;
  line-height: 42px;
} 

// Top Navigation

#menu {
  margin-bottom: 0px;
}

.navbar-inverse .navbar-inner {
  background-image: none;
}

.navbar-inner {
    border: none;
}

.navbar .nav {
    > li {
        padding: 5px 15px;
        > a {
            color: @linkTopColor;
            padding: 2px 0;
            text-transform: uppercase;
        }
        .caret {
        	border-bottom-color: @linkTopColor;
        	border-top-color: @linkTopColor;
            margin-top: 5px;
            margin-left: 5px;
        }
        &:focus, &:hover {
            background: @color_three;
            > a {
                position: relative;
                &:before, &:after {
                    content:'';
                    height: 0;
                    left: 0;
                    position: absolute;
                    width: 100%;
                }
                &:before {
                    top: 0;
                }
                &:after {
                    bottom: 0;
                }
            }
        }
        &.active {
            background: @color_three;
            > a {
                background: @color_three;
                position: relative;
                box-shadow: none;
                &:before, &:after {
                    content:'';
                    height: 0;
                    left: 0;
                    position: absolute;
                    width: 100%;
                }
                &:before {
                    top: 0;
                }
                &:after {
                    bottom: 0;
                }
                &:hover, &:focus {
                    background: @color_three;
                    box-shadow: none;
                }
            }
        }
        &.divider-vertical {
            border-left-color: @grayLight;
            margin-top: 0;
            padding-bottom: 3px;
        }
    }
}

.navbar .nav > li > .dropdown-menu {
    border-radius: 0px;
    box-shadow: none;
    padding: 0px;
    &:before, &:after {
        content: none;
    }
    > li {
    	border-top: 1px solid @color_four;
        > a {
        	padding: 5px 15px;
            color: @linkTopColor;
            text-transform: uppercase;
            .caret {
                border-top-color: transparent;
                border-left-color: @dropdownLinkColor;
            }
            &:hover, &:focus {
                background: @color_four;
                .caret {
                    border-left-color: @dropdownLinkColorHover;
                }
            }
        }
        &.active {
            background: @color_four;
            > a {
                .caret {
                    border-left-color: @dropdownLinkColorActive;
                }
                &:hover, &:focus {
                    .caret {
                        border-left-color: @dropdownLinkColorActive;
                    }
                }
            }
        }
    }
}

// Well styles

.well {
  box-shadow: none;
}

#header{
  position: relative;
  width: 100%;
  margin-bottom: 0px;
  .bg-wrapp{
    height: 100%;
    left: 0; 
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    .bg-wrapp-inner{
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
      #bg-header{
        display: block;
        left: 0;
        max-height: inherit;
        max-width: inherit;
        position: absolute;
        top: 0;
        width: 100%;
      }

    }
}

}
.header-inner {
    border-bottom: 1px solid #CECEBF;
    margin-top: 20px;
    padding-bottom: 5px;
    position: relative;
    z-index: 1;
    .logo, [class*="span"] {
        margin-left: 0 !important;
    }
}

#top-header {
  background: @hedaer-top;
  .module_mounted {
    position: relative;
  .custom_mounted {
    background: @color_three;
    color: @white;
    text-align: center;
    font-size: @baseFontSize + 2;
    font-weight: normal;
    padding: 15px;
    position: absolute;
    bottom: -82px; 
    z-index: 1;
    > span {
        font-size: @baseFontSize - 2;
      }
    > a {
      text-transform: uppercase;
      font-size: @baseFontSize - 2;
    }
  } 
  }
  .module_futured {
    position: relative;
    padding: 15px 0px;
    h3 {
      font-size: @baseFontSize;
      width: auto;
      float: left;
      position: relative;
      top: 8px;
      text-transform: uppercase;
    }
    .custom_futured {
      position: relative;
      left: 15px;
      float: left;
    } 
  }
}

#grid-top {
  padding: 40px 0px 20px 0px;
  .module {
    .custom {
      > span {
      display: inline-block;
      height: 2px;
      width: 4%;
      background: @linkColor;
      margin-bottom: 10px;
    }
    }
  }
}

//Breadcrumbs

#breadcrumbs {
  background: @white;
  margin-bottom: 0px;
    .breadcrumb {
    margin-bottom: 0px;
    border-radius: 0px;
    background: transparent;
    > li {}
  }
}

 



