@import 'variables-bamboo-light.less';
@media (min-width: 1200px) {
	#header , #breadcrumbs {
		position: relative;
		margin-bottom: 0px;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	#header , #breadcrumbs {
		position: relative;
		margin-bottom: 0px;
	}

	.breadcrumbs {
		padding-left: 20px;
	}

	#current-menu-item {
		padding-left: 10px;
		h1 {
		}
	}

	.nav {
		+ .current {
			background-color: @white;
			padding: 20px;
		}
	}

	.navbar {
		.nav {
			padding-left: 0px;
			padding-right: 0px;
			margin-top: 0px;
			padding: 0px 25px;
			> li {
				> a {
					&:hover , &:focus {
						background-color: white;
					}
				}

				margin-right: 10px;
				margin-left: 10px;
				&.dropdown {
					.dropdown-menu {
						li {
							a {
								&:hover , &:focus {
									background-color: transparent;
								}
							}

							.sub-menu {
								background-color: transparent;
								margin-left: 15px;
								li {
									border-bottom: 0px;
								}
							}
						}
					}
				}

				&.active {
					background-color: transparent;
				}

				&:hover , &:focus {
					background-color: transparent;
				}
			}

			li {
				padding-top: 20px;
				padding-bottom: 0px;
				border-bottom: 1px solid @color_four;
				text-shadow: none;
				> a {
					font-size: @baseFontSize;
					margin-left: 0px;
					margin-right: 0px;
					text-transform: uppercase;
					color: @lateralMenuColor;
					text-shadow: none;
					&:hover , &:focus {
						background-color: transparent;
						color: @tabBackground;
					}

					.caret {
						display: none;
					}
				}

				&.highlight-parent {
					background-color: @content-background;
					padding-top: 0px;
					> a {
						color: @color_four;
					}

					&:hover , &:focus {
						background-color: @color_three;
						> a {
							color: @linkTopColor;
						}
					}
				}

				&.dropdown {
					.dropdown-menu {
						position: relative;
						display: block;
						background-color: transparent;
						float: none;
						border: 0;
						box-shadow: none;
						border-radius: 0;
						min-width: 0;
						padding: 0;
						ul {
							margin: 0 5px;
						}

						li {
							border-bottom: 0;
							padding-top: 10px;
							background-color: transparent;
							> a {
								white-space: normal;
								color: @lateralMenuColor;
								padding-left: 15px;
								text-transform: none;
								font-size: @baseFontSize;
								&:hover , &:focus {
									color: @tabBackground;
								}
							}

							&.active {
								> a {
									background-color: transparent;
									color: @tabBackground;
									&:hover , &:focus {
										background-color: none;
									}

									&:before {
										content: none;
									}
								}
							}

							&.current {
								> a {
									color: @tabBackground;
								}
							}

							&.deeper {
								> a {
									text-transform: uppercase;
									&:after {
										content: '\f0da';
										position: relative;
										right: 0px;
									}
								}
							}

							&:hover , &:focus {
								background-color: transparent;
							}

							.sub-menu {
								li {
									background-color: transparent;
									> a {
										&:hover , &:focus {
											background-color: transparent;
										}
									}
								}

								&:before , &:after {
									display: none;
								}
							}
						}

						.sub-menu {
							box-shadow: none;
							margin: 0 10px;
							position: relative;
							visibility: visible;
							margin-top: 0;
							left: 0;
							li {
								background-color: transparent;
								> a {
									&:hover , &:focus {
										background-color: transparent;
									}
								}
							}

							&:before , &:after {
								display: none;
							}
						}

						&.parent {
							> a {
							}
						}

						li {
							&:last-child {
								border-bottom: none;
								padding-bottom: 0px;
							}
						}
					}

					&.parent {
						> a {
							&:after {
								float: none;
								left: 10px;
								position: relative;
								top: -4px;
								content: '\f0dd';
								font-size: @baseFontSize - 4;
							}
						}
					}
				}

				&.active {
					> a {
						background-color: transparent;
						background-image: none;
						filter: none;
						color: @tabBackground;
						&:hover , &:focus {
							background-color: none;
						}

						&:before {
							content: '\f067';
							float: left;
							color: @white;
							margin-left: -20px;
							font-family: FontAwesome;
							font-size: @baseFontSize;
						}

						&:after {
							content: none;
						}
					}
				}

				&.highlight-parent {
					margin-top: 15px;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	#header {
		position: relative;
		margin-bottom: 0px;
		margin-right: -20px;
		margin-left: -20px;
		.header-inner {
			margin-left: 20px;
			margin-right: 20px;
		}

		.top-object {
			background-image: none;
		}
	}

	#breadcrumbs {
		position: relative;
		margin-bottom: 0px;
		margin-right: -20px;
		margin-left: -20px;
		.header-inner {
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	#top-header {
		position: relative;
		margin-bottom: 0px;
		margin-right: -20px;
		margin-left: -20px;
		.header-inner {
			margin-left: 20px;
			margin-right: 20px;
		}

		.container , .container-fluid {
			.row , .row-fluid {
				[class ^= "module"] {
					text-align: center;
					margin-top: 30px;
					img {
						margin-top: 30px;
						margin-left: auto;
						margin-right: auto;
						display: block;
					}
				}
			}
		}
	}

	[class ^= "module"] {
		&.mounted {
			position: relative;
			.module-inner {
				position: relative;
				bottom: auto;
				z-index: 1;
			}
		}
	}

	.module_ms1 , .moduletable_ms1 , .moduletext_ms1 {
		padding: 0px;
	}

	.module_ms4 , .moduletable_ms4 , .moduletext_ms4 {
		&.double {
			margin-top: 50px;
			.wrightmodule-imgfeatured {
				width: 100%;
				img {
				}
			}

			.wrightmodule-subtitle {
				width: 100%;
			}

			.wrightmodule-content {
				> h3 {
					width: 100%;
				}
			}

			+ .module_ms4 , + .moduletable_ms4 , + .moduletext_ms4 {
				padding: 0px 0px 15px 0px;
				margin-bottom: 25px;
				.module-inner {
					margin-top: 0px;
				}

				.wrightmodule-imgfeatured {
					width: 100%;
					display: none;
				}

				.wrightmodule-content {
					h3 {
						display: none;
					}
				}

				.wrightmodule-content {
				}
			}
		}
	}

	#logo {
		&[class *= "span"] {
			float: left;
			width: auto;
		}
	}

	.breadcrumbs {
		padding-left: 30px;
	}

	#content-wrapper {
		background-image: none;
		width: auto;
		margin-left: -20px;
		margin-right: -20px;
		[id ^= "content"] {
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	.nav {
		+ .current {
			background-color: @white;
			padding: 20px;
		}
	}

	#current-slide-item {
		padding: 30px 0px;
		position: relative;
		h1 {
			font-family: @sansFontFamily;
			color: @white;
			background: @headerTitleBackground;
			padding: 10px 20px;
			display: table;
			width: 65%;
			font-size: @baseFontSize + 9;
		}

		p {
			font-size: @baseFontSize;
			color: @white;
			margin-top: 30px;
			line-height: 140%;
			width: 75%;
		}
	}

	#nextslide , #prevslide {
		top: 60px;
	}

	#lateral-menu {
		width: 230px;
		&.show-lateral-menu {
		}
	}

	.toolbar-collapse-btn {
		> .legend-menu {
			display: none;
		}
	}

	.navbar-inverse {
		.nav-collapse {
			.nav {
				li {
					a {
						&:hover , &:focus {
							background-color: transparent;
						}
					}
				}
			}
		}
	}

	.navbar {
		.nav {
			padding-left: 0px;
			padding-right: 0px;
			margin-top: 0px;
			padding: 0px 25px;
			> li {
				> a {
					&:hover , &:focus {
						background-color: white;
					}
				}

				margin-right: 10px;
				margin-left: 10px;
				&.dropdown {
					.dropdown-menu {
						li {
							a {
								&:hover , &:focus {
									background-color: transparent;
								}
							}

							.sub-menu {
								background-color: transparent;
								margin-left: 15px;
								li {
									border-bottom: 0px;
								}
							}
						}
					}
				}

				&.active {
					background-color: transparent;
				}

				&:hover , &:focus {
					background-color: transparent;
				}
			}

			li {
				padding-top: 20px;
				padding-bottom: 0px;
				border-bottom: 1px solid @color_four;
				text-shadow: none;
				> a {
					font-size: @baseFontSize;
					margin-left: 0px;
					margin-right: 0px;
					text-transform: uppercase;
					color: @lateralMenuColor;
					text-shadow: none;
					&:hover , &:focus {
						background-color: transparent;
						color: @tabBackground;
					}

					.caret {
						display: none;
					}
				}

				&.highlight-parent {
					background-color: @content-background;
					padding-top: 0px;
					> a {
						color: @color_four;
					}

					&:hover , &:focus {
						background-color: @color_three;
						> a {
							color: @linkTopColor;
						}
					}
				}

				&.dropdown {
					.dropdown-menu {
						position: relative;
						display: block;
						background-color: transparent;
						float: none;
						border: 0;
						box-shadow: none;
						border-radius: 0;
						min-width: 0;
						padding: 0;
						ul {
							margin: 0 5px;
						}

						li {
							border-bottom: 0;
							padding-top: 10px;
							background-color: transparent;
							> a {
								white-space: normal;
								color: @lateralMenuColor;
								padding-left: 15px;
								text-transform: none;
								font-size: @baseFontSize;
								&:hover , &:focus {
									color: @tabBackground;
								}
							}

							&.active {
								> a {
									background-color: transparent;
									color: @tabBackground;
									&:hover , &:focus {
										background-color: none;
									}

									&:before {
										content: none;
									}
								}
							}

							&.current {
								> a {
									color: @tabBackground;
								}
							}

							&.deeper {
								> a {
									text-transform: uppercase;
									&:after {
										content: '\f0da';
										position: relative;
										right: 0px;
									}
								}
							}

							&:hover , &:focus {
								background-color: transparent;
							}

							.sub-menu {
								li {
									background-color: transparent;
									> a {
										&:hover , &:focus {
											background-color: transparent;
										}
									}
								}

								&:before , &:after {
									display: none;
								}
							}
						}

						.sub-menu {
							box-shadow: none;
							margin: 0 10px;
							position: relative;
							visibility: visible;
							margin-top: 0;
							left: 0;
							li {
								background-color: transparent;
								> a {
									&:hover , &:focus {
										background-color: transparent;
									}
								}
							}

							&:before , &:after {
								display: none;
							}
						}

						&.parent {
							> a {
							}
						}

						li {
							&:last-child {
								border-bottom: none;
								padding-bottom: 0px;
							}
						}
					}

					&.parent {
						> a {
							&:after {
								float: none;
								left: 10px;
								position: relative;
								top: -4px;
								content: '\f0dd';
								font-size: @baseFontSize - 4;
							}
						}
					}
				}

				&.active {
					> a {
						background-color: transparent;
						background-image: none;
						filter: none;
						color: @tabBackground;
						&:hover , &:focus {
							background-color: none;
						}

						&:before {
							content: '\f067';
							float: left;
							color: @white;
							margin-left: -20px;
							font-family: FontAwesome;
							font-size: @baseFontSize;
						}

						&:after {
							content: none;
						}
					}
				}

				&.highlight-parent {
					margin-top: 15px;
				}
			}
		}
	}
}

